body{
    margin:0;
    background-color:rgb(236, 232, 232);
}
/*header*/
.header{
    padding-top:20px;
    height:120px;
    background-color:rgb(233, 225, 225);
}
.conteiner{
    max-width: 960px;
    margin:0 auto;
    background-color:#dfe228;
    height:113.75px;
    text-align:center ;
    font-size:20px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{
    width:150px;
    float:left;
    margin:10px;
}
.namesait{
    padding:10px;
    color: green;
}
/*nav*/
.nav{
    display:flex;
    width: max-content;
    margin:0 auto;
    margin-top:15px;
}
.link_nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(5, 75, 121);
    margin-right:20px;
    text-decoration:none;
}
/*ssilki*/
.ssilki{
    max-width:960px;
    margin:0 auto;
}
/*form*/
.form{
    padding:10px;
    max-width:960px;
    margin:0 auto;
}
 a{
    color:#FFA500;
}
/*footer*/
.footer{
    background-color: yellowgreen;
    width: 100%;
    height:25px;
}
.link_footer{
    width:350px;
    margin:0;
    margin-top:15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*table*/
.table{
    border-collapse: collapse;
    border: 1px solid grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th {border: 1px solid grey;}
td {border: 1px solid grey;}
.conteiner2{
    margin-top:20px;
}
.ch{
    background-color: silver;
}
.n{
    background-color: seagreen;
}
@media screen and (min-width:350px){
    .nav{
        flex-direction: column;
    }
}
@media screen and (min-width:768px){
    .nav{
    flex-direction: row;
    }
}